- name: Install Java
  shell: "amazon-linux-extras install java-openjdk11 -y"
  notify: Restart Tomcat

  become: yes

- name: Remove Tomcat PID file if present
  file:
    path: "{{ TOMCAT_HOME }}/temp/tomcat.pid"
    state: absent
  become: yes

- name: Install Maven build tool
  package:
    name: maven
    state: present

- name: Check a tomcat directory exists or not
  stat:
    path: "{{TOMCAT_HOME}}"
  register: tomcat_dir_check

- name: Check the Tomact Home directory
  debug: var=tomcat_dir_check

- name: Download Tomcat
  unarchive:
    src: "{{TOMCAT_URL}}"
    dest: "/opt/"
    remote_src: yes #  when: tomcat_dir_check.stat.exists|bool == false
  notify: Restart Tomcat

- name: Set the devops user owner and group
  file:
    path: "{{TOMCAT_HOME}}"
    state: directory
    owner: devops
    group: devops
    recurse: yes

- name: Clone a github repository
  git:
    repo: https://gitlab.com/rns-app/student-app.git
    dest: /home/devops/studentapp/
    clone: yes
    update: yes

- name: Download JDBC Jar file
  copy:
    src: "files/tomcat/lib/mysql-connector.jar"
    dest: "{{TOMCAT_HOME}}/lib/"
  notify: Restart Tomcat

- name: Update Tomcat Context Configuration with Database Details
  template:
    src: context.xml.j2
    dest: "{{TOMCAT_HOME}}/conf/context.xml"
  notify: Restart Tomcat

- name: Update Tomcat Users file
  copy:
    src: "files/tomcat/conf/tomcat-users.xml"
    dest: "{{TOMCAT_HOME}}/conf/"
  notify: Restart Tomcat

- name: Update manager context file
  copy:
    src: "files/tomcat/manager/context.xml"
    dest: "{{TOMCAT_HOME}}/webapps/manager/META-INF/"
  notify: Restart Tomcat

- name: Detect JAVA_HOME path
  shell: readlink -f $(dirname $(dirname $(readlink -f $(which java))))
  register: java_home_path
  changed_when: false

- name: Deploy Tomcat systemd service file from template
  template:
    src: "templates/tomcat-init.j2"
    dest: /etc/systemd/system/tomcat.service
    mode: u=rwx,g=rx,o=rx
  become: yes

- name: Reload Systemctl service
  systemd:
    daemon_reload: yes

- name: Copy the Build Script
  copy:
    src: "files/scripts/build.sh"
    dest: /home/devops/
    mode: u=rwx,g=rx,o=rx

- name: Build it and Deploy the Application

  shell: "sed -i -e 's/\r$//' /home/devops/build.sh && /home/devops/build.sh"
  become: yes

- name: Set ownership for all Tomcat files and subdirectories
  file:
    path: "{{ TOMCAT_HOME }}"
    owner: devops
    group: devops
    recurse: yes
  become: yes

- name: Set ownership for deployed student.war
  file:
    path: "{{ TOMCAT_HOME }}/webapps/student.war"
    owner: devops
    group: devops
  become: yes

- name: Gather service facts
  service_facts:


- name: Show Tomcat service status
  debug:
    var: ansible_facts.services['tomcat.service']

- name: Start Tomcat Service
  service:
    name: tomcat
    state: started
  become: yes
  remote_user: devops
